@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,400i,700,900');
// @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css');
@import url('https://cdn.linearicons.com/free/1.0.0/icon-font.min.css');
@import url('https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css');
// body,
// html {
//     overflow: hidden;
// }
body,
html,
#app {
    width: 100%;
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: #fff;
    color: lighten(#000, 32%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    line-height: 1.36;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: subpixel-antialiased;
}

.mt15 {
    margin-top: 15px;
}
.mt40 {
    margin-top: 40px;
}
.mr-0 {
    margin-right: 0px !important;
}
.pr-0 {
    padding-right: 0px !important;
}
.pl-0 {
    padding-left: 0px !important;
}
.pl-10 {
    padding-left: 10px !important;
}
.pl-20 {
    padding-left: 20px !important;
}
.pr-10 {
    padding-right: 10px !important;
}
.pr-20 {
    padding-right: 20px !important;
}

.el-card {
    border-radius: 6px;
    &.is-always-shadow {
        box-shadow: 0 1px 3px transparentize(#000, .88), 0 1px 2px transparentize(#000, .76) !important;
    }
}

.el-card {
    .el-divider__text.is-left {
        left: -20px;
    }
}

.el-tab-pane {
    .el-divider__text.is-left {
        left: -20px;
    }
}
  
.el-loading-mask.is-fullscreen {
    z-index: 9 !important;
}

.admin-layout {
    .el-table__empty-text{
        width: 100%;
        .el-alert{
            padding: 0 0;
        }
    }
    .el-alert--info.no_data_box{
        padding-left: 35%;
        align-items: center;
        line-height: inherit;
    }
    .heading {
        height: 60px;
        background: #ebeef5;
        padding: 20px 40px;
        margin: 0;
    }
    .comments-header {
        margin: 0;
        font-size: 18px;
    }
    .el-form--label-top .el-form-item__label {
        padding: 0;
    }
    .el-button.btn-badge,
    .el-tag.btn-badge {
        height: 25px ; 
        line-height: 25px; 
        padding: 0px 7px;
        border-radius: 3px;
        min-width: 70px;
        margin: 0 !important;
    }
 
    .switch-wrapper {
        margin-bottom: 22px;
        .el-form-item {
            display: flex;
            align-items: center;
            margin-bottom: 0 !important;
            .el-form-item__content {
                margin-left: auto;
                display: flex;
                align-items: center;
            }
            .el-form-item__label {
                text-align: left;
                float: none;
                line-height: 1.4em;
            }
        }
        div {
            display: flex;
            align-items: center;
        }
        .switcher__desc {
            min-height: 20px;
        }
    }
    .attic-label {
        display: block;
        line-height: 40px;
    }
}
.crud-view {
    padding: 0 20px;
}
.padding-right-300 {
    padding-right: 305px !important;
}
// .el-button.el-button--transparent {
//     background-color: transparent;
//     border: none;
//     color: var(--color-text-secondary);
//     span {
//         padding-left: 5px;
//     }
// }

//.swal2-popup .swal2-actions{
//    opacity: 0;
//    transform: scale(0);
//    transition: 0.3s ease-in-out;
//}
//
//.showButton{
//    opacity: 1!important;
//    transform: scale(1)!important;;
//}

.slide-fade-enter-active {
    transition: all .3s ease;
}
.slide-fade-leave-active {
    transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateY(10px);
    opacity: 0;
}

.bounce-enter-active {
    animation: bounce-in .4s;
}
.bounce-leave-active {
    animation: bounce-in .4s reverse;
}
@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.df{
    display: flex;
    flex-direction: column;
}


@font-face {
    font-family: 'Arial';
    src: url('~fonts/ArialMT.eot'); /* IE 9 Compatibility Mode */
    src: url('~fonts/ArialMT.ttf') format('truetype'),
        url('~fonts/ArialMT.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('~fonts/ArialMT.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */;
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Times New Roman';
	src: url('~fonts/times_new_roman.eot'); /* IE 9 Compatibility Mode */
	src: url('~fonts/times_new_roman.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('~fonts/times_new_roman.woff2') format('woff2'), /* Super Modern Browsers */
		url('~fonts/times_new_roman.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('~fonts/times_new_roman.ttf') format('truetype'), /* Safari, Android, iOS */
		url('~fonts/times_new_roman.svg#times_new_roman') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
    font-family: 'Radikal Bold';
    src: url('~fonts/radikal/radikal_bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Radikal';
    src: url('~fonts/radikal/radikal_w03_regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Radikal Thin';
    src: url('~fonts/radikal/radikal_w03_thin.ttf') format('truetype');
}